/********** TAG SELECTORS **********/

/* Colour set: #e3e3e3; #f95959; #455d7a; #233142; */

a {
  color: #f95959;
}

body {
  background-color: #e3e3e3;
  font-family: 'Inter', sans-serif;
  margin: 0;
  text-align: center;
  padding: 0;
}

h1 {
  color: #e3e3e3;
  font-size: 5.625rem; /* 100% = 16px = 1rem */
  margin: 3.125rem auto 0 auto;
  line-height: 1;
}

h2 {
  color: #233142;
  margin-top: 0;
  line-height: 1;
}

h3 {
  color: #233142;
  margin-top: 0;
}

hr {
  border: 0.5rem;
  border-top-style: dotted;
  color: #f95959;
  margin: 100px auto;
  width: 10%;
}

img {
  margin: 0;
  padding: 0;
  border: none;
}

p {
  color: #233142;
  font-size: 1rem;
  line-height: 1.5;
}

/********** CLASS SELECTORS **********/

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.bottom-container {
  background-color: #233142;
  padding: 50px 0;
  margin: 0;
}

.bottom-container p {
  color: #455d7a;
  padding: 0;
  margin: 25px;
}

.btn {
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   border-radius: 100px;
   color: #FFFFFF;
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   font-weight: 400;
   padding: 16px;
   background-color: #F95959;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 0 auto;
}

.btn:hover {
   background: #FF7777;
   border: solid #FF7777 0;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   border-radius: 100px;
   text-decoration: none;
}

.computer-image {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100px;
}

.contact-me-text {
  width: 35%;
  margin: 25px auto 50px auto;
}

.chillies-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.footer-link {
  margin: 0 20px;
}

.intro-text {
  width: 62%;
  margin: 25px auto 0 auto;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 1.5;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container {
  background-color: #233142;
  padding: 100px 20px 0 20px;
  position: relative;
  border: none;
}

.top-container em {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
  color: #f95959;
  margin: 0 0.5rem;
}

.top-container h2 {
  color: #e3e3e3;
  font-size: 2rem;
  font-weight: 200;
  margin-top: 20px;
}

.top-container img {
  border: none;
  margin: 0;
  padding: 0;
  border: none;
}

.middle-container {
  padding: 50px 0;
}

.profile {
  line-height: 1.5;
  margin: 50px auto;
  width: 50%;
}

.profile img {
  margin: 0 0 50px 0;
}
